<p>
  <strong>Nombre:</strong>
  <%= @users.name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @users.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @users.email %>
</p>

<br><%= link_to 'Back', controller: "user", action: "index" %>
